<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Novo Plantão</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/geral.css}">
</head>
<body>
<p><a th:href="@{/}">Voltar à Página Inicial</a></p>
<h1>Adicionar Novo Plantão</h1>

<div th:if="${successMessage}" class="success-message">
    <p th:text="${successMessage}"></p>
    <p th:if="${shift.endTime != null}">Data/Hora final calculada: <span th:text="${#temporals.format(shift.endTime, 'dd-MM-yyyy HH:mm')}"></span></p>
</div>
<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>

<form th:action="@{/shift/create-shift}" th:object="${shift}" method="post">
    <label for="startTime">Hora/Data início:</label>
    <input type="datetime-local" id="startTime" th:field="*{startTime}" required/><br/><br/>

    <label>Data/Hora final:</label>
    <span class="read-only-field">
        Será calculada automáticamente.
    </span><br/><br/>


    <label for="hospital">Hospital:</label>
    <select id="hospital" th:field="*{hospital.id}" required>
        <option value="">-- Selecione o Hospital --</option>
        <option th:each="hosp : ${allHospitals}"
                th:value="${hosp.id}"
                th:text="${hosp.name}">
            Nome do Hospital
        </option>
    </select>


    <label>Doctors:</label>
    <div id="doctor-list-container">
        <div th:each="doctor, stat : *{doctorList}" class="doctor-entry">
            <select th:field="*{doctorList[__${stat.index}__].id}">
                <option value="">-- Selecione o(a) Plantonista --</option>
                <option th:each="doc : ${allDoctors}"
                        th:value="${doc.id}"
                        th:text="${doc.name}"
                        th:selected="${doctor.id != null and doctor.id == doc.id}">
                    Nome do Médico(a)
                </option>
            </select>
        </div>
    </div>
    <small style="margin-left: 130px;">Selecione pelo menos 1 e, no maximo, 4 plantonistas.</small><br/><br/>

    <button type="submit">Criar Plantão</button>
</form>

<p><a th:href="@{/shift/list-shift}">Voltar para Lista de Plantões</a></p>
</body>
</html>