<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Hospital</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/geral.css}"></head>
<body>
<p><a th:href="@{/}">Voltar à Página Inicial</a></p>
<h1>Adicionar Novo Hospital</h1>

<div th:if="${successMessage}" class="success-message">
    <p th:text="${successMessage}"></p>
</div>

<form th:action="@{/hospital/create-hospital}" th:object="${hospital}" method="post">
    <label for="name">Nome:</label>
    <input type="text" id="name" th:field="*{name}" required/><br/><br/>

    <label for="address">Endereço:</label>
    <input type="text" id="address" th:field="*{address}" required/><br/><br/>

    <button type="submit">Salvar Hospital</button>
</form>
<p><a th:href="@{/hospital/list-hospital}">Voltar para Lista</a></p>
</body>
</html>