.perfil-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-family: "Nunito", sans-serif;
}

.perfil-title {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: 700;
}

.perfil-card {
    background: #ffffff;
    width: 65%;
    padding: 30px 40px;
    display: flex;
    gap: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.perfil-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.perfil-foto img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    object-fit: cover;
}

.btn-trocar-foto {
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    background-color: #005AE0;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btn-trocar-foto:hover {
    background-color: #0047b3;
}

.perfil-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
}

.perfil-info label {
    font-weight: 600;
}

.perfil-info input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    font-size: 16px;
    outline: none;
}

.perfil-info input:focus {
    border-color: #005AE0;
}

.btn-salvar {
    margin-top: 20px;
    padding: 14px;
    border: none;
    background-color: rgb(149, 206, 188);
    color: #000;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.btn-salvar:hover {
    background-color: rgb(99, 142, 153);
    color: #fff;
}
