* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
}

body {
    background: #f5f7fa;
    color: #333;
}

/* HEADER */
header {
    width: 100%;
    height: 70px;
    background: rgb(149, 206, 188);
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(11, 211, 184, 0.411);
}

.right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo img {
    height: 60px;
}

/* NOTIFICAÇÃO */
.notfi-img {
    width: 20px;
    right: 0;
    cursor: pointer;
}

/* NAVBAR (perfil + menu) */
.navbar {
    position: relative;
}

.profile-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    border: 2.5px solid #ffffff;
    transition: .2s;
}

.profile-img:hover {
    border-color: #4ed1e2;
}

.dropdown-menu {
    /*display: none;*/
    position: absolute;
    top: 55px;
    right: 0;
    background: #fff;
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgb(11, 211, 184, 0.411);
    overflow: hidden;
    animation: fadeIn .25s ease;
}

.dropdown-menu ul {
    list-style: none;
}

.dropdown-menu li {
    padding: 15px;
    text-align:center;
    cursor: pointer;
    font-size: 15px;
    transition: .2s;
}

.dropdown-menu li a {
    color: #2d2d2d;
}

.dropdown-menu li:hover {
    background: #bddeff86;
}

/* Fade animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* MAIN */

main {
    padding: 25px;
}

.home-container {
    max-width: 1100px;
    margin: 0 auto;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.title h1 {
    font-size: 32px;
    font-weight: 600;
    color: #1e293b;
}

/* SELECT DO HOSPITAL */
.hospital select {
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    background: #ffffff;
    cursor: pointer;
    transition: .2s;
}

.hospital select:hover {
    border-color: #79baca;
}

/* CALENDÁRIO */
.calendar {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(11, 211, 184, 0.267);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .home-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .calendar {
        height: 550px;
    }
}




