.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 10px;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 8px auto;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-buttons button {
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

#fecharModalHospital {
    background: #ccc;
}

.form-buttons button[type="submit"] {
    background: #40b9ff;
    color: #fff;
}
