* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
}

:root {
    --bg: rgb(186, 229, 240);
    --hover: rgb(99, 142, 153);
    --bg-claro: rgb(223, 247, 253);
}

/* ÍCONES */
.titulo button img,
.tabela-medico button img {
    width: 1.5rem;
    height: auto;
    margin: 3px;
}

.titulo button:hover,
.tabela-medico button:hover {
    background-color: var(--hover);
}

button {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--bg);
    cursor: pointer;
}

/* BOTÃO DE ADICIONAR */
.add {
    display: flex;
    padding: 0.5rem 10px;
    gap: 1rem;
    align-items: center;
    font-size: large;
    background-color: var(--bg);
    border-radius: 20px;
    width: fit-content;
    cursor: pointer;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem;
}

main {
    margin-left: 3rem;
    margin-right: 3rem;
}

/* TABELA DE PLANTÕES */
.tabela-medico {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: var(--bg-claro);
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid rgba(11, 211, 184, 0.267);
    font-size: 1rem;
}

.tabela-medico thead {
    background-color: var(--bg);
}

.tabela-medico th {
    padding: 12px 18px;
    text-align: left;
    font-weight: 700;
}

.tabela-medico td {
    padding: 14px 20px;
    border-bottom: 1px solid #d9d9d9;
}

.acoes {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.tabela-medico button {
    background-color: var(--bg);
    padding: 5px;
}


/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal-content {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.modal-content input {
    width: 90%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-buttons button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-buttons button:hover {
    transform: scale(1);
    border: 2px solid var(--hover);
}

#fecharModal {
    background: #ccc;
}

.form-buttons button[type="submit"] {
    background: #40b9ff;
    color: white;
}
