.perfil-container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.perfil-card {
    width: 60%;
    padding: 30px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 40px;
    justify-content: center;
}

.perfil-foto img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid #b8fcec;
}

.perfil-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-item label {
    font-weight: bold;
    font-size: 15px;
    color: #444;
}

.info-item p {
    background: #f5f8fa;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #d4e4ec;
}

.btn-editar {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: rgb(149, 206, 188);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: .2s;
}

.btn-editar:hover {
    background: rgb(99, 142, 153);
    color: #fff;
}