<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Médicos(a)</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/geral.css}"></head>
<body>
<p><a th:href="@{/}">Voltar para Página Principal</a></p>
<h1>Médicos(a)</h1>

<form th:action="@{/doctor/list}" method="get" style="margin-bottom: 20px;">
    <label for="name">Buscar por nome:</label>
    <input type="text" id="name" name="name"
           th:value="${searchName}"
           placeholder="Insira o nome do médico(a)">
    <button type="submit">Search</button>
    <a th:href="@{/doctor/list}">Mostrar Todos</a>
</form>

<p th:if="${message}" th:text="${message}" style="color: green;"></p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CRM</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.name}"></td>
        <td th:text="${doctor.crm}"></td>
        <td>
            <a th:href="@{/doctor/list-doctor-shifts/{id}(id=${doctor.id})}">View</a>
            <a th:href="@{/doctor/{id}/edit(id=${doctor.id})}">Edit</a> |
            <form th:action="@{/doctor/{id}/delete(id=${doctor.id})}" method="post" style="display:inline;">
                <button type="submit" style="color: red; border: none; background: none; cursor: pointer;">
                    Excluir
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${doctors != null && doctors.empty}">
    <p>Nenhum médico(a) encontrado(a)</p>
</div>

<p><a th:href="@{/doctor/create-doctor}">Adicionar Médico(a)</a></p>
</body>
</html>